/* ------------ TOPBAR MAIL BUTTON --------------- */

    .oe_topbar_item.oe_topbar_compose_full_email *{
        position: relative;
        color: white;
    }
    

/* ----------------------- TIMELINE ----------------------- */

    .o_web_client .o_timeline, .o_web_client .o_timeline *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .o_web_client .o_timeline {
        display: block;
        position: relative;
        margin: 0px;
        background: #f0eeee;
    }

    .o_web_client .o_timeline.o_timeline_inbox {
        padding-top: 15px;
        padding-bottom: 15px; 
    }

    .o_web_client .o_timeline.o_timeline_inbox .oe_thread {
        width: 855px;
        display: inline-block;
    }

    .oe-view-manager-view-timeline {
        background-color: #f0eeee;
    }


/* ------------------- FORM INTEGRATION ------------------- */

    .o_web_client .o_timeline_record_thread {
        display: block;
        z-index: 10;
    }

    .o_web_client .o_timeline_record_thread .o_timeline {
        width: 100%;
    }

    .o_timeline_record_thread > .o_timeline {
        display: block !important;
    }

    .oe-view-manager-view-form,
    .o_web_client .oe_formview {
        background: #f0eeee;
    }


/* ----------------------- MESSAGE ----------------------- */

    .o_web_client .o_timeline .o_timeline_msg {
        position: relative;
        background: #f0eeee;
        min-height: 42px;
        margin: 12px 0px 12px 0px;
        padding: 0px 5px 0px 5px;
    }

    .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_msg {
        padding-left : 15px;
    }

    .o_web_client .o_timeline .oe_view_nocontent {
        display: inline-block;
        border-left: dashed 2px #A4A4A4;
        width: 83%;
        margin-left: 17%;
    }

    /* -------------- parent message -------------- */

        .o_web_client .o_timeline .o_timeline_thread_parent {
            width: 850px;
            margin-top: 2px;
            vertical-align: middle;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message {
            background-color: white;
            border: solid 1px #CACACA;
            margin-left: 16.2%;
            padding: 3px;
            white-space: nowrap;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_subject {
            display: inline-block;
            width: 430px;
            cursor: pointer;
            vertical-align: middle;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_subject.o_timeline_small_subject {
            width: 400px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_subject .o_timeline_subject {
            display: inline-block;
            max-width: 415px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_subject.o_timeline_small_subject .o_timeline_subject {
            max-width: 390px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_subject .o_timeline_nb_unread_msg {
            font-weight: bold; 
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_author {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            width: 140px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_action_author {
            color: #337ab7;
        }

        /* date */

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_msg_date {
            line-height: 15px;
        }

        /* avatar */

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_avatar {                           
            left:0; 
            top: 0; 
            bottom: 0; 
            width: 30px;
            overflow: hidden;
            padding-right: 3px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_avatar img {
            border: solid 1px #CACACA;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_parent_avatar .o_timeline_msg_icon {
            width: 25px;
            border-radius: 2px;
        }

        /* go to doc */

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_go_to_doc {
            display: inline-block;
            width: 20px;
            text-align: left;
            margin-left: 10px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_go_to_doc i  {
            text-decoration: none;
            color: #AAA;
            font-size: 1.2em;
            padding-top: 1px;
            cursor: pointer;
            -webkit-transition: all 0.2s linear;
               -moz-transition: all 0.2s linear;
                 -o-transition: all 0.2s linear;
                    transition: all 0.2s linear;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_go_to_doc i:hover {
            font-size: 1.4em;
        }

        /* followers */

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_followers {
            display: inline-block;
            min-width: 45px;
            margin-right: 10px; 
            color: #337ab7;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_followers i {
            text-decoration: none;
            color: #FFF;
            font-size: 1.1em;
            padding-left: 5px;
            cursor: pointer;
            text-shadow: 0px 1px #AAA,0px -1px #AAA, -1px 0px #AAA, 1px 0px #AAA, 0px 3px 3px rgba(0,0,0,0.1);
            -webkit-transition: all 0.2s linear;
               -moz-transition: all 0.2s linear;
                 -o-transition: all 0.2s linear;
                    transition: all 0.2s linear;
        }

        /* icons */

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons .oe_read {
            margin-right: 5px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons i {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            text-decoration: none;
            color: #FFF;
            text-shadow: 0px 1px #AAA,0px -1px #AAA, -1px 0px #AAA, 1px 0px #AAA, 0px 3px 3px rgba(0,0,0,0.1);
            -webkit-transition: all 0.2s linear;
               -moz-transition: all 0.2s linear;
                 -o-transition: all 0.2s linear;
                    transition: all 0.2s linear;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons .oe_reply:hover {
            color: #1fc0ff;
            text-shadow: 0px 1px #184fc5,0px -1px #184fc5, -1px 0px #184fc5, 1px 0px #184fc5, 0px 3px 3px rgba(0,0,0,0.1);
        }
        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons .oe_read:hover {
            color: #bbbaff;
            text-shadow: 0px 1px #7c7bad,0px -1px #7c7bad, -1px 0px #7c7bad, 1px 0px #7c7bad, 0px 3px 3px rgba(0,0,0,0.1);
        }
        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_parent_message .o_timeline_msg_icons .oe_unread:hover {
            color: #c2ff00;
            text-shadow: 0px 1px #009441,0px -1px #009441, -1px 0px #009441, 1px 0px #009441, 0px 3px 3px rgba(0,0,0,0.1);
        }

    /* ------------ message composer ------------ */

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer_compact {
            display: inline-block;
            position: relative;
            background: #f0eeee;
            width: 83%;
            margin: 0px 0px 0px 0px;
            margin-left: 17%;
            border-bottom: solid 1px #C4C4C4;
            border-left: dashed 2px #A4A4A4;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer.o_timeline_write_to_followers {
            width: 700px;
            margin: 0px;
        }

        .o_web_client .o_timeline .o_timeline_thread_parent .o_timeline_msg.o_timeline_msg_composer_compact {
            margin: 10px 0px 5px 0px;
            margin-left: 18%;
            padding: 0px;
            border-bottom: none;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer .o_timeline_is_log {
            width: 55%;
            margin-bottom: 10px;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer_compact .o_timeline_compact {
            width: 100%;
            padding: 2px 4px;
            color: #AAA;
            cursor: text;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer_compact .o_timeline_compact_record {
            text-align: left;
            padding-bottom: 11px;
            padding-left: 10px;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer_compact .o_timeline_compact_record .o_timeline_compose_log {
            padding-left: 0px;
            padding-right: 0px;
            font-weight: bold;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_composer_compact .o_timeline_sep_word {
            margin-left: 10px;
            margin-right: 8px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content textarea {
            width: 95%;
            height: 64px;
            margin: 0px;
            margin-bottom: 3px;
            padding: 0px;
            resize: vertical;
            padding: 4px;
        }

        .o_web_client .o_timeline .o_timeline_msg_footer .oe_post,
        .o_web_client .o_timeline .o_timeline_msg_footer .oe_log {
            margin: 0px 15px 0px 5px;
        }

        .o_web_client .o_timeline .o_timeline_msg_center button.oe_full {
            position: absolute;
            width: 20px;
            height: 22px;
            overflow: hidden;
            bottom: 0;
            right: 0;
            filter: none;
            margin: 0px 3px 8px 0px;
        }

        .o_web_client .o_timeline .o_timeline_msg_center button.oe_full .fa {
            position: relative;
            top: 2px;
            margin-left: -5px;
            vertical-align: top;
            filter: none;
            height: 14px;
            font-size: 20px;
        }

        .o_web_client .o_timeline button.oe_full,
        .o_web_client .o_timeline button.oe_attach {
            background: transparent; 
            color: #337ab7;
            box-shadow: none;
            border: none;
            text-shadow: none;
            filter:none;
        }

    /* ------- message composer recipient ------- */

        .o_web_client .o_timeline .o_timeline_list_recipients {
            width: 50%;
            font-size: 12px;
            margin: 0px 0 10px 20px;
            text-indent: -20px;
        }

        .o_web_client .o_timeline .o_timeline_list_recipients a {
            color: #337ab7;
        }

        .o_web_client .o_timeline .o_timeline_msg_composer .o_timeline_recipients {
            font-size: 12px;
            margin: 2px 0px 0px 20px;
        }

        .o_web_client .o_timeline .o_timeline_msg_composer .o_timeline_recipients label {
            vertical-align: middle;
            display: block;
            line-height: 14px;
        }

        .o_web_client .o_timeline .o_timeline_msg_composer .o_timeline_recipients input {
            margin: 0px 0px 0px 0px;
            vertical-align: top;
        }

    /* ------ message composer attachments ------ */

        .o_web_client .o_timeline .o_timeline_msg_composer .o_timeline_msg_attachment_list {
            display: block;
        }

        .oe_attachment {
            display: inline-block;
            width: 100px;
            margin: 4px 2px;
            min-height: 80px;
            position: relative;
            border-radius: 3px;
            text-align: center;
            vertical-align: top;
        }

        .oe_attachment img {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 0px;
            left: 50%;
            margin-left: -24px;
        }

        .oe_attachment .oe_name {
            display: inline-block;
            max-width: 100%;
            padding: 1px 3px;
            margin-top: 50px;
            margin-bottom: 5px;
            background: #F2F7FF;
            overflow: hidden;
            color: #4c4c4c;
            text-shadow: none;
            border-radius: 3px;
        }

        .oe_attachment.oe_preview {
            background: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2MsLS39z4AGLCws0IUYGIeCwrVr12J45sSJE5ieGQIKAbuZKf/EMCs7AAAAAElFTkSuQmCC );
        }

        .oe_attachment.oe_preview img {
            display: block;
            position: relative;
            margin:0px;
            width: 100px;
            height: 80px;
            border-radius: 1px;
            border: solid 3px #FFF;
            margin-left: -50px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.19);
        }

        .oe_attachment .oe_progress_bar {
            display: none;
            position: absolute;
            top: 18px;
            left: 16px;
            right: 16px;
            height: 17px;
            line-height: 13px;
            padding: 0px;
            background: #4BBD00;
            color: white;
            text-align: center;
            border-radius: 3px;
            border: solid 1px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
            -webkit-animation: oe_mail_attach_loading_anim 0.75s infinite linear;
               -moz-animation: oe_mail_attach_loading_anim 0.75s infinite linear;
                 -o-animation: oe_mail_attach_loading_anim 0.75s infinite linear;
                    animation: oe_mail_attach_loading_anim 0.75s infinite linear;
        }

        .oe_attachment.oe_uploading .oe_progress_bar {
            display: block;
        }

        @-webkit-keyframes oe_mail_attach_loading_anim {
            0% { background: #4BBD00 }
            50% { background: #009123 } 
            100% { background: #4BBD00 }
        }
        @-moz-keyframes oe_mail_attach_loading_anim {
            0% { background: #4BBD00 }
            50% { background: #009123 } 
            100% { background: #4BBD00 }
        }
        @-o-keyframes oe_mail_attach_loading_anim {
            0% { background: #4BBD00 }
            50% { background: #009123 } 
            100% { background: #4BBD00 }
        }
        @keyframes oe_mail_attach_loading_anim {
            0% { background: #4BBD00 }
            50% { background: #009123 } 
            100% { background: #4BBD00 }
        }

        .oe_attachment.oe_preview .oe_name {
            position: absolute;
            bottom: 0px;
            margin: 3px;
            left: 0px;
            right: 0px;
            max-height: 64px;
            background: rgba(0,0,0,0.8); 
            color: white;
            border-radius: 1px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            opacity: 0;
            -webkit-transition: opacity 0.2s linear; 
               -moz-transition: opacity 0.2s linear; 
                 -o-transition: opacity 0.2s linear; 
                    transition: opacity 0.2s linear; 
        }

        .oe_attachment.oe_preview:hover .oe_name {
            opacity: 1;
            -webkit-transition: opacity 0.2s linear; 
               -moz-transition: opacity 0.2s linear; 
                 -o-transition: opacity 0.2s linear; 
                    transition: opacity 0.2s linear; 
        }

        .o_web_client .o_timeline .o_timeline_msg_footer button.oe_attach {
            width: 24px;
            margin-bottom: 5px; 
            filter: none;
        }

        .o_web_client .o_timeline .o_timeline_msg_footer button.oe_attach .fa {
            position: relative;
            top: 2px;
            margin-left: -10px;
            font-size: 1.4em;
            vertical-align: middle;
            filter:none;
        }

        .o_web_client .o_timeline .o_timeline_msg_footer .oe_attachment_file {
            cursor: pointer;
        }

        .o_web_client .o_timeline .o_timeline_msg_footer .oe_attachment_file .oe_form_binary_file { 
            display: inline;
            position: relative;
            margin-left: -100px;
            height: 30px;
            width: 100px;
            filter: none;
            cursor: pointer;
        }

        .o_web_client .o_timeline .oe_attach_label {
            color: #337ab7;
            margin-left: -3px;
            height: 30px;
            vertical-align: middle;
        }

        .o_web_client .o_timeline .oe_hidden_input_file, 
        .o_web_client .o_timeline .oe_hidden_input_file form {
            display: inline;
            cursor: pointer;
        }

        .o_web_client .o_timeline .oe_attachment .oe_delete .fa {
            display: none;
        }

        .o_web_client .o_timeline .o_timeline_msg_composer .oe_attachment .oe_delete .fa {
            display: block;
            position: absolute;
            top: -7px;
            right: 0px;
            color: black;
            text-shadow: 1px 0px white, -1px 0px white, 0px 1px white, 0px -1px white;
            cursor: pointer;
            opacity: 0;
            -webkit-transition: opacity 0.2s linear; 
               -moz-transition: opacity 0.2s linear; 
                 -o-transition: opacity 0.2s linear; 
                    transition: opacity 0.2s linear; 
        }

        .o_web_client .o_timeline .o_timeline_msg_composer .oe_attachment:hover .oe_delete .fa {
            opacity: 1;
            -webkit-transition: opacity 0.2s linear; 
               -moz-transition: opacity 0.2s linear; 
                 -o-transition: opacity 0.2s linear; 
                    transition: opacity 0.2s linear; 
        }

    /* ------------ expandable message ------------ */ 

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_expandable, 
        .o_web_client .o_timeline .o_timeline_parent_expandable {  
            color: #A4A4A4;
            cursor: pointer; 
            margin-bottom: 0px;
            min-height: 30px;
            height: 30px;
        }

        .o_web_client .o_timeline .o_timeline_msg_expandable span,
        .o_web_client .o_timeline .o_timeline_parent_expandable span {
            display: inline-block;
            text-align: right;
            padding-left: 24%;
        }

        .o_web_client .o_timeline .o_timeline_msg_expandable span {
            border-left: dashed 2px #A4A4A4;
        }

        .o_web_client .o_timeline .o_timeline_parent_expandable {
            padding-top: 10px;
        }

    /* ----------------- message ----------------- */

        .o_web_client .o_timeline .o_timeline_msg_message {
            border-left: dashed 2px #A4A4A4;
        }

        /* 1. date */

        .o_web_client .o_timeline .o_timeline_msg_date {
            text-align: center;
            font-size: 0.9em;
        }

        .o_web_client .o_timeline .o_timeline_msg_date span {
            display: block;
            background-color: white;
            padding: 1px 10px 2px 10px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            border-radius: 12px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_date {
            margin-top: 0px;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_notification .o_timeline_msg_date span{
            background-color: #f0eeee;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_comment.o_timeline_msg_nobody .o_timeline_msg_date span,
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_email.o_timeline_msg_nobody .o_timeline_msg_date span {
            background-color: #DADADA;
        }

        /* 2. avatar (message_left) */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_left {
            float: left;                            
            left:0; 
            top: 0; 
            bottom: 0; 
            width: 45px;
            overflow: hidden;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_left a,
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_left img {
            border: 0;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_icon {
            width: 40px;
            border-radius: 2px;
        }

        /* 3. message content */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content {
            position: relative;
            display: block;
            overflow: hidden;
            padding-left: 8px;
            min-height: 42px;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_comment .o_timeline_msg_content,
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_email .o_timeline_msg_content {
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -ms-border-top-right-radius: 4px;
            -o-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -ms-border-bottom-right-radius: 4px;
            -o-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;                 
            background: white;                  
            margin-left: 53px;                  
            padding: 5px 5px 11px 7px;  
            box-shadow: 0px 1px #CACACA;      
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_comment .o_timeline_msg_center:after,   /*********/
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_email .o_timeline_msg_center:after {    /**arrow**/
            left: 48px;                                                                             /*********/
            top: 17px;                                                                              /*********/
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: white;
            border-width: 10px;
            margin-top: -10px;
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_comment.o_timeline_msg_nobody .o_timeline_msg_content,
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_email.o_timeline_msg_nobody .o_timeline_msg_content {
            background-color: #DADADA;
        }
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_comment.o_timeline_msg_nobody .o_timeline_msg_center:after,
        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_email.o_timeline_msg_nobody .o_timeline_msg_center:after { 
            border-right-color: #DADADA;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_action_author {
           font-size: 1em;
           color: #337ab7;
        }

        /* message header */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header {
            font-weight: normal;
            margin-bottom: 11px; 
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header a {
            color: #337ab7;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header .o_timeline_msg_header {
            font-size: 0.8em;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header .o_timeline_msg_header .oe_sep {
            margin-left: 5px;
            margin-right: 5px;
        }

        /* message header - votes */ 

        .o_web_client .o_timeline .o_timeline_vote {
            display: inline-block;
            position: relative;
            color: #337ab7;
            cursor: pointer;
        }

        .o_web_client .o_timeline .o_timeline_vote_count {
            display: inline-block;
            position: relative;
            background: white;
            box-shadow: 0px 0px 0px 1px rgba(124, 123, 173, 0.36) inset;
            text-shadow: none;
            border-radius: 3px;
            margin: 0px;
            padding: 2px 5px 0px 5px;
            margin-right: 5px;
            cursor: default;
        }

        /* message header - icons */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons {
            float: right;
            margin-top: 1px;
            margin-right: 8px;
            margin-left: 8px;
            height: 21px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons span {
            float:right;
            width:21px;
            height:21px;
            line-height:21px;
            text-align: center;
            display: inline-block;
            margin: 0px 5px 0px 5px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons i {
            text-decoration: none;
            color: #FFF;
            text-shadow: 0px 1px #AAA,0px -1px #AAA, -1px 0px #AAA, 1px 0px #AAA, 0px 3px 3px rgba(0,0,0,0.1);
            font-size: 1.15em;
            margin-top: 2px;
            -webkit-transition: all 0.2s linear;
               -moz-transition: all 0.2s linear;
                 -o-transition: all 0.2s linear;
                    transition: all 0.2s linear;
        }

        .o_web_client .o_timeline .o_timeline_msg:hover .o_timeline_header .o_timeline_msg_icons i{
            opacity: 1;
            -webkit-transition: all 0.1s linear;
               -moz-transition: all 0.1s linear;
                 -o-transition: all 0.1s linear;
                    transition: all 0.1s linear;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons .oe_star:hover {
            color: #FFF670;
            text-shadow: 0px 1px #FFA162,0px -1px #FFA162, -1px 0px #FFA162, 1px 0px #FFA162, 0px 3px 3px rgba(0,0,0,0.1);
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons .oe_star.oe_starred {
            color: #FFE41F;
            text-shadow: 0px 1px #DF6200,0px -1px #DF6200, -1px 0px #DF6200, 1px 0px #DF6200, 0px 3px 3px rgba(0,0,0,0.1);
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons .oe_read:hover {
            color: #bbbaff;
            text-shadow: 0px 1px #7c7bad,0px -1px #7c7bad, -1px 0px #7c7bad, 1px 0px #7c7bad, 0px 3px 3px rgba(0,0,0,0.1);
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_header .o_timeline_msg_icons .oe_unread:hover {
            color: #c2ff00;
            text-shadow: 0px 1px #009441,0px -1px #009441, -1px 0px #009441, 1px 0px #009441, 0px 3px 3px rgba(0,0,0,0.1);
        }

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_notification.o_timeline_msg_nobody .o_timeline_header .o_timeline_msg_icons {
            padding-right: 5px;
        }

        /* message body */

        .o_web_client .o_timeline .o_timeline_msg.o_timeline_msg_notification .o_timeline_msg_body {
            margin-left: 7px;
            padding-left: 5px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body p:first-of-type {
            margin-top: 0px;
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body p {
            margin-bottom: 0px;
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body pre {
            white-space: pre-wrap;
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body blockquote {
            font-size: 1em;
        }
        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body * {
            text-overflow: ellipsis;
            word-wrap: break-word;
        }

        /* message footer - attachments */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_footer .o_timeline_msg_attachment_list {
            margin-top: 8px;
        }

        /* message footer - recipients */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_footer .o_timeline_partners_followers {
            font-size: 0.8em;
            margin-top: 15px;
        }


/* ------------------- TRACKING VALUES ------------------- */

    /* -------- tracking values content -------- */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body .o_timeline_tracking_value_list li {
            line-height: 22px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body .o_timeline_tracking_value_list .o_timeline_tracking_value {
            font-weight: bold;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_msg_body .o_timeline_tracking_value_list i {
            padding-left: 5px;
            padding-right: 5px;
        }

    /* --------- tracking value header --------- */

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header .o_timeline_tracking_value_header {
            margin-top: 10px;
            padding-left: 12px;
            margin-bottom: -5px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header .o_timeline_msg_icons.o_timeline_msg_icons_track {
            padding-right: 5px;
            margin-top: -14px;
        }

        .o_web_client .o_timeline .o_timeline_msg .o_timeline_msg_content .o_timeline_header .o_timeline_tracking_value_header .o_timeline_no_subtype {
            font-size: 0.8em;
        }


/* ---------------------- FOLLOWERS ---------------------- */

    .o_web_client .o_timeline_followers {
        position: relative;
        display: inline-block;
        width: 270px;
        height: 0px;
        float: right;
        margin-right: 20px;
        z-index: 1;
    }

    .o_web_client .o_timeline_followers .oe_actions {
        float: right;
        position: relative;
    }

    .o_web_client .o_timeline_followers button.o_timeline_follower {
        background-color: white;
        text-align: center;
        width: 110px;
    }

    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_following {
        width: 110px;
        color: #337ab7;
    }

    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_following:hover {
        width: 110px;
        color: #D43F3A;
        text-overflow: ellipsis;
    }

    .o_web_client .o_timeline_followers button.o_timeline_follower .o_timeline_follow, 
    .o_web_client .o_timeline_followers button.o_timeline_follower .o_timeline_unfollow, 
    .o_web_client .o_timeline_followers button.o_timeline_follower .o_timeline_following {
        display: none;
    }
    /*  a.1) when following, show 'following' */
    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_following .o_timeline_following {
        display: inline;
    }
    /*  a.2) when following and hovering, show 'unfollow' */
    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_following:hover .o_timeline_following {
        display: none;
    }
    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_following:hover .o_timeline_unfollow {
        display: inline;
    }
    /*  a.3) when not following  show 'follow' */
    .o_web_client .o_timeline_followers button.o_timeline_follower.o_timeline_notfollow .o_timeline_follow {
        display: inline;
    }

    .o_web_client .o_timeline_followers .o_timeline_follower_title {
        display: inline;
        padding-right: 10px;
    }

    .o_web_client .o_timeline_followers .o_timeline_follower_title_box {
        position: relative;
        float: right;
        margin-left: 10px;
    }

    .o_web_client .o_timeline_followers button.o_timeline_partner_list {
        width: 110px;
    }

    .o_web_client .o_timeline_followers .o_timeline_follower_list {
        height: auto;
        max-height: 350px;
        overflow-x: hidden;
    }

    .o_web_client .o_timeline_followers .oe_partner {
        height: 32px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 120px;
    }

    .o_web_client .o_timeline_followers .oe_partner img {
        width: 32px;
        margin-right: 4px;
        border-radius: 2px;
    }

    .o_web_client .o_timeline_followers .oe_partner a,
    .o_web_client .o_timeline_followers .oe_invite a {
        font-size: 0.95em;
        color: #337ab7;
    }

    .o_web_client .o_timeline_followers .oe_remove_follower {
        cursor: pointer;
        position: absolute;
        right: 10px;
        height: 25px;
        vertical-align: middle;
    }

    .o_web_client .o_timeline_followers .oe_remove_follower.fa-remove {
        margin-top: 6px;
    }

    .o_web_client .o_timeline_followers .oe_partner .oe_hidden {
        display: none;
    }

    .o_web_client .o_timeline_followers .o_timeline_sbtp_list {
        margin-left: -5px;
    }

    .o_web_client .o_timeline_followers .oe_subtype {
        padding-left: 5px;
    }

    .o_web_client .o_timeline_followers .oe_subtype_border {
        border-bottom: 1px solid #dddddd;
        margin-bottom: 10px;
    }


/* ----------------------- SIDEBAR ----------------------- */

    .o_web_client .o_timeline .o_timeline_inbox_aside {
        margin-left: 10px;
        margin-top: 5px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 200px;
    }

    .o_web_client .o_timeline .o_timeline_inbox_aside .oe_sidebar_suggestion {
        background-color: #f0eeee;
        border: solid 1px #CACACA;
        border-radius: 3px;
        padding-top: 1px;
        padding-bottom: 7px;
        margin-bottom: 20px
    }

    .o_web_client .o_timeline .o_timeline_inbox_aside .oe_suggest_title span {
        background-color: #f0eeee;
        display: inline-block;
        height: 25px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: -20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item {
        border-radius: 2px;
        margin-left: 10px;
        min-height: 67px; 
        white-space: nowrap;
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_image {
        float: left;
        padding-right: 10px;
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_image img {
        border-radius: 2px;
        border: solid 1px rgba(0,0,0,0.03);
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_content button {
        margin-top: 10px;
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_content .oe_suggestion_item_name {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 110px;
    }

    .o_web_client .o_timeline .o_timeline_inbox_aside a {
        color: #337ab7;
    }   

    .o_web_client .oe_sidebar_suggestion .oe_suggest_title .oe_suggestion_remove {
        line-height: 15px;
        margin-top: -2px;
        float: right;
        visibility: hidden;
        margin-right: 7px;
    }

    .o_web_client .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_content .oe_suggestion_remove_item {
        line-height: 21px;
        margin-top: -2px;
        float: right;
        visibility: hidden;
        margin-right: 16px;
    }
    
    .o_web_client .oe_sidebar_suggestion .oe_suggest_title:hover .oe_suggestion_remove,
    .o_web_client .oe_sidebar_suggestion .oe_suggest_items:hover .oe_suggestion_remove_item {
        visibility: visible;
    }