.oe_button_box .oe_stat_button .o_stat_info:not(.published) > .o_stat_text.oe_publish {
	display: none;
}
.oe_button_box .oe_stat_button .o_stat_info.published > .o_stat_text.oe_unpublish {
    display: none;
}
.oe_form_field.oe_form_field_html_frame {
    display: block;
}
.oe_form_field_html_frame iframe {
    display: block;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    min-height: 300px;
}
.o_form_FieldTextHtml_fullscreen .oe_form_field_html_frame iframe {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0px !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 1001 !important;
    border: 0;
}
.o_form_FieldTextHtml_fullscreen .modal .oe_form_field_html_frame iframe {
    top: 0 !important;
}
.o_form_FieldTextHtml_fullscreen .oe_webclient *, .o_form_FieldTextHtml_fullscreen .modal * {
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    overflow: visible !important;
    width: auto !important;
}