.o_kanban_group .note_text_line_through {
  text-decoration: line-through;
}

.openerp .oe_form .oe_pad.oe_memo {
  width: auto;
}
.openerp .oe_form .oe_form_field.oe_memo {
  margin: 0;
  padding: 0px;
  width: 100%;
  min-height: 200px; }
  .openerp .oe_form .oe_form_field.oe_memo .cleditorMain {
    border: none;
    padding: 0px; }

.o-form-view.o_note_form_view .o_form_statusbar .o_statusbar_buttons, .o-form-view.o_note_form_view .o_form_statusbar .o_statusbar_status {
  order: 1;
}

