@o-kanban-record-margin: 4px;

@o-kanban-default-record-width: 300px;
@o-kanban-small-record-width: 240px;
// mixins
.o-kanban-icon() {
    // Share the style of `.o_kanban_quick_add` and `o_kanban_config`.
    height: 50px;
    width: 50px;
    line-height: 1.8;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 22px;
    cursor: pointer;
}


// LAYOUT
.o_kanban_view {
    .o-flex-display();
    .o-align-content(stretch);

    @media (max-width: @grid-float-breakpoint) {
        padding: 0px;
    }

    .o_kanban_record {
        min-width: 150px;
        margin: 4px 4px 8px 4px;

        &.o_kanban_two_column {
            .o-flex-display();

            .oe_kanban_details {
                position: relative;
                display: inline-block;
                .o-flex(1, 1, auto);
                width: 0;
            }
        }

        &.o_kanban_two_column_tags {
            .o-flex-display();
            .o-flex-flow(row, wrap);

            .o_kanban_tags_section {
                .o-flex(1, 1, 100%);
            }
            .o_kanban_image {
                .o-flex(1, 1, 25%);
                margin-right: 0;
            }
            .oe_kanban_details {
                position: relative;
                .o-flex(1, 1, 75%);
                ul {
                    margin-bottom: 0;
                }
            }
        }

        .o_dropdown_kanban {
            float: right;

            // Open the dropdown a the left side of the dropdown toggle
            > .dropdown-menu {
                left: auto;
                right: 0;
                padding: 3px;
            }
        }

        .o_dropdown_kanban {
            @media (max-width: @grid-float-breakpoint) {
                visibility: visible;
            }
        }

        .o_kanban_footer {
            .o-flex-display();
            .o-justify-content(space-between);
            width: 100%;
            > * {
                flex: none;
            }
        }

        .oe_kanban_footer_left {
            float: left;
        }

        .oe_kanban_bottom_right {
            float: right;
        }

        .oe_kanban_bottom_left {
            float: left;
        }

        .o_kanban_tags {

            margin-left: -8px;
            height: 9px;
            .o_tag{
                width: 50px;
                height: 9px;
                display: inline-block;
                vertical-align: top;
            }
        }
        .o_form_field_many2manytags {
            display: block;
        }
    }

    .o_kanban_group {
        .o-flex(0, 0, auto);
        margin: 0 4px;
        &:not(.o_column_folded) {
            width: @o-kanban-default-record-width + 2*@o-kanban-record-margin;
        }

        .o_kanban_quick_create {
            margin: 0 @o-kanban-record-margin 8px @o-kanban-record-margin;
            padding: 3px;
            input {
                width: 100%;
                margin: 4px 0;
            }
        }

        .o_kanban_header + .o_kanban_record {
            margin-top: 0;  // no margin top from the first card after kanban_header
        }

    }
    .o_kanban_group:first-child {
        margin-left: 0;
    }

    &.o_kanban_ungrouped {
        .o-flex-flow(row, wrap);
        .o-justify-content(flex-start);
        padding:  @o-kanban-record-margin @odoo-horizontal-padding - @o-kanban-record-margin;

        @media (max-width: @grid-float-breakpoint) {
            padding: 0;
        }

        .o_kanban_record {
            .o-flex(1, 1, auto);
            width: @o-kanban-default-record-width;
            @media (max-width: @grid-float-breakpoint) {
                margin: 0 0 1px 0;
                width: 100vw;
                box-shadow: none;
            }

            &.o_kanban_ghost {
                height: 0;
                min-height: 0 !important;  // to prevent view writers to override this height
                visibility: hidden;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
            }
        }

    }

    &.o_kanban_grouped {
        min-height: 100%;
        padding: 0 @odoo-horizontal-padding - @o-kanban-record-margin;
        .o_kanban_record {
            width: @o-kanban-default-record-width;

        }
        &.o_kanban_small_column .o_kanban_group {
            &:not(.o_column_folded) {
                width: @o-kanban-small-record-width + 2*@o-kanban-record-margin;
                .o_kanban_record {
                    width: @o-kanban-small-record-width;
                }
            }
        }
    }


    .o_column_quick_create {
        .o-flex(0, 0, auto);
        margin: 0;
        padding: 8px;
        position: relative;

        .o_kanban_quick_create {
            display: none;
            width: 180px;
        }
    }

}

// STYLE
.o_kanban_view {

    .o_kanban_record {
        background-color: white;
        box-shadow: 0px 0px 1px 1px lighten(@odoo-main-text-color, 10%);
        padding: 8px;

        &:hover {
            .o_dropdown_kanban {
                    visibility: visible;
            }
        }

        &.o_kanban_dragged {
            > * {
                visibility: hidden;
            }
            background-color: @odoo-main-text-color;
        }

        &.oe_kanban_global_click, &.oe_kanban_global_click_edit {
            cursor: pointer;
        }

        &.ui-sortable-helper {
            transform: rotate(3deg);
            opacity: 0.9,
        }

        &.o_kanban_two_column_tags {
            .o_kanban_image {
                > img {
                    box-shadow: none;
                }
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        .o_kanban_title {
            font-weight: bold;
            margin-bottom: 3px;
        }

        .o_kanban_image {
            .o-flex(0, 0, auto);
            margin-right: 8px;
            text-align: center;

            img {
                width: 64px;
                height: 64px;
                box-shadow: none;
            }
        }

        .o_kanban_button {
            margin-top: 15px;

            > button, > a {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .o_dropdown_kanban {
            > a {
                padding: 3px;
                color: @odoo-main-text-color;
            }
            &.open {
                visibility: visible;
            }
        }
        .oe_kanban_avatar {
            .img-rounded;
            border: 1px solid @odoo-main-color-muted;
            margin-left: 2px;
        }

        .oe_kanban_avatar_smallbox {
            height: 40px;
            width: 40px;
            box-shadow: 0 1px 4px @gray-light;
        }

        .o_kanban_attachment_image {
            // The image should take the whole card
            margin: -8px;
            > img {
                width: 100%;
            }
        }
        .o_progressbar {

            .o-flex-display();

            .o_progressbar_title {
                .o-flex(0, 0, auto);
            }
            .o_progress {
                margin-top: 3px;
                .o-flex(1, 1, auto);
            }
            .o_progressbar_value {
                .o-flex(0, 0, auto);
                width: auto;
                text-align: right;
            }
        }

        .oe_kanban_colorpicker {
            li {
                float: left;
                &:first-child a {
                    border: 1px solid #ccc;
                }

                a {
                    width: 15px;
                    height: 16px;
                    display: inline-block;
                    border: 1px solid white;
                }
            }
        }
        .o_dropdown_kanban {
            visibility: hidden;
        }

    }

    .o_kanban_group {
        &.o_kanban_dragged {
            background-color: @odoo-main-text-color;
            .o_kanban_record {
                visibility: hidden;
            }
        }

       .o_kanban_header {
            color: white;
            padding: 0 4px;
            height: 50px;
            line-height: 2.2;
            cursor: move;
            .o-flex-display();
            .o_column_unfold {
                display: none;
            }
            .o_column_title {
                font-size: 18px;
                font-weight: 300;
                .o-flex(1, 1, auto);
                white-space: nowrap;
                padding-top: 5px;
            }

            .o_kanban_quick_add i {
                .o-kanban-icon;
                &:hover {
                    background-color: @odoo-brand-optional;
                }
            }
            .o_kanban_config i {
                .o-kanban-icon;
                &:hover {
                    background-color: darken(@gray-light, 10%);
                }
            }

            .o_kanban_number {
                color: @odoo-main-text-color;
                text-align: center;
            }
        }

        &.o_column_folded {
            position: relative;
            border-right: 1px solid @odoo-main-text-color;
            margin: 0;

            .o_column_title {
                line-height: 1.3;
                text-transform: uppercase;
                transform-origin: left bottom;
                transform: rotate(90deg);
                top: 40px;
                left: 15px;
                position: absolute;
            }
            > .o_kanban_record, .o_kanban_quick_add, .o_kanban_config, .o_kanban_load_more {
                display: none;
            }
            &:hover {
                cursor: pointer;
                background-color:  darken(@gray-light, 10%);
            }
            &.o_kanban_hover {
                background-color: darken(@gray-light, 10%);
            }
            .o_column_unfold {
                display: block;
                padding: 0 10px;

                > i {
                    font-size: 22px;
                    padding-top: 15px;
                }

            }
            background-color: @gray-light;
        }

        .o_kanban_quick_create {
            background-color: white;
            box-shadow: 0px 0px 1px 1px lighten(@odoo-main-text-color, 10%);
        }

        .o_kanban_load_more {
            text-align: center;
            a {
                color: white;
                font-weight: 300;
            }
        }
    }

    .o_column_quick_create {
        background-color:  @odoo-main-text-color;
        cursor: pointer;

        &:hover {
            background-color:  darken(@gray-light, 10%);
        }
        .o_column_header {
            .o_kanban_add_column {
                padding: 0 10px;
                color: white;

                > i {
                    font-size: 22px;
                    padding-top: 7px;
                }
            }
            .o_kanban_title {
                font-size: 18px;
                font-weight: 300;
                white-space: nowrap;
                color: @gray-lighter;
                text-transform: uppercase;
                transform-origin: left bottom;
                transform: rotate(90deg);
                top: 40px;
                left: 15px;
                position: absolute;
            }
        }
        .o_kanban_quick_create {
            background-color: white;
            box-shadow: 0px 0px 1px 1px lighten(@odoo-main-text-color, 10%);
        }
    }

    .oe_kanban_color_0 {
        background-color: #FFFFFF;
        color: #5a5a5a;
    }
    .oe_kanban_color_1 {
        background-color: #d8d8d8;
        color: #5e5e5e;
    }
    .oe_kanban_color_2 {
        background-color: #e5d8e3;
        color: #7a3737;
    }
    .oe_kanban_color_3 {
        background-color: #ece9c2;
        color: #756832;
    }
    .oe_kanban_color_4 {
        background-color: #dee180;
        color: #5d6937;
    }
    .oe_kanban_color_5 {
        background-color: #abd4cc;
        color: #1a7759;
    }
    .oe_kanban_color_6 {
        background-color: #b8e3e8;
        color: #1a5d83;
    }
    .oe_kanban_color_7 {
        background-color: #f4ddab;
        color: #5e5e5e;
    }
    .oe_kanban_color_8 {
        background-color: #7f637d;
        color: #a5a5a5;
    }
    .oe_kanban_color_9 {
        background-color: #d8c5d5;
        color: #5e5e5e;
    }
    .oe_kanban_color_10 {
        background-color: #46C265;
        color: #639B89;
    }
}

// necessary outside kanban views (for example, edit column form in task kanban view)
// ideally, it should be made generic (.o_status, .o_status_green, ...)
.oe_kanban_status {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;

    background-color: @odoo-brand-secondary;

    &.oe_kanban_status_green {
        background-color: @brand-success;
    }
    &.oe_kanban_status_red {
        background-color: @brand-danger;
    }
}
