<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Customer Relationship Management</h2>
            <h3 class="oe_slogan">Boost sales productivity, improve win rates, grow revenue</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.openerp.com/saas_master/demo?lang=en_US&module=crm">
                    <img src="crm_sc_01.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Manage your sales funnel with no effort. Attract leads, follow-up on phone calls and meetings. Analyse the quality of your leads to make informed decisions and save time by integrating emails directly into the application.
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openerp.com/start?app=crm" class="oe_button oe_big oe_tacky">Start your <span class="oe_emph">free</span> trial</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Your Sales Funnel, The Way You Like It</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Track your opportunities pipeline with the revolutionary kanban view. Work inside your sales funnel and get instant visual information about next actions, new messages, top opportunities and expected revenues.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_02.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Lead Management Made Easy</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Create leads automatically from incoming emails. Analyse leads efficiency and compare performance by campaigns, channels or sales team.
            </p>
            <p class="oe_mt32">
Find duplicates, merge leads and assign them to the right salesperson in one operation. Spend less time on administration and more time on qualifying leads.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_05.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Organize Your Opportunities</h2>
        <h3 class="oe_slogan">A clean user interface with everything in one screen</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_06.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Get your opportunities organized to stay focused on the best deals. Manage all your customer interactions from the opportunity like emails, phone calls, internal notes, meetings and quotations.
            </p><p>
Follow opportunities that interest you to get notified upon specific events: deal won or lost, stage changed, new customer demand, etc.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Email Integration and Automation</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Work with the email applications you already use every day. Whether your company uses Microsoft Outlook or Gmail, no one needs to change the way they work, so everyone stays productive.
            </p><p>
Route, sort and filter incoming emails automatically. Odoo CRM handles incoming emails and route them to the right opportunities or sales team. New leads are created on the fly and interested salespersons are notified automatically.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_08.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Collaborative Agenda</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_agenda.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Schedule your meetings and phone calls using the integrated calendar. You can see your agenda and your colleagues' in one view. As a manager, it's easy to see what your team is busy with.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Lead Automation and Marketing Campaigns</h2>
        <h3 class="oe_slogan">Drive performance by automating tasks</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
            Use our marketing campaigns to automate lead acquisition, follow ups and promotions. Define automated actions (e.g. ask a salesperson to call, send an email, ...) based on triggers (no activity since 20 days, answered a promotional email, etc.)
            </p><p class="oe_mt32">
            Optimize campaigns from lead to close, on every channel. Make smarter decisions about where to invest and show the impact of your marketing activities on your company's bottom line.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="crm_sc_marketing.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Customize Your Sales Cycle</h2>
        <h3 class="oe_slogan">It Fits Your Sales Approach</h3>
        <p>
Customize your sales cycle by configuring sales stages that perfectly fit your sales approach. Control statistics to get accurate forecasts to improve your sales performance at every stage of your customer relationship.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="crm_sc_04a.png">
            <img class="oe_picture oe_screenshot" src="crm_sc_04b.png">
            <img class="oe_picture oe_screenshot" src="crm_sc_04c.png">
            <img class="oe_picture oe_screenshot" src="crm_sc_04d.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Drive Engagement with Gamification</h2>
        <h3 class="oe_slogan">Leverage sales' natural desire for competition</h3>
        <p class="oe_mt32">
               Reinforce good habits and improve win rates with real-time recognition and rewards inspired by <a href="http://en.wikipedia.org/wiki/Gamification">game mechanics</a>. Align sales teams around clear business objectives with challenges, personal objectives and team leader boards.
        </p>
        <div class="oe_span4 oe_centered">
            <h3>Leaderboards</h3>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="crm_game_01.png">
            </div>
            <p>
               Promote leaders and competition amongst sales team with performance ratios.
            </p>
        </div>
        <div class="oe_span4 oe_centered">
            <h3>Personnal Objectives</h3>
            <div class="oe_row_img">
                <img class="oe_picture" src="crm_game_02.png">
            </div>
            <p>
                Assign clear goals to users to align them with the company objectives.
            </p>
        </div>
        <div class="oe_span4 oe_centered">
            <h3>Team Targets</h3>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="crm_game_03.png">
            </div>
            <p>
                Compare revenues with forecasts and budgets in real time.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Many companies already enjoy it</h2>
            <h3 class="oe_slogan">Hear what they have to say !</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_quote">
                <q>
                    With Odoo CRM I keep all the information about leads and customers
                    in a single place, and share it with my colleagues. It's great and effective.
                </q>
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="claudia-sebastiani.jpg">
                    <div class="oe_author">Claudia Sebastiani</div>
                    <div class="oe_job">Sales manager at <a href="http://openerp.creativiquadrati.it" target="_blank">CQ Creativi Quadrati</a>.</div>
                </cite>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_quote">
                <q>
                    I am surprised by how good Odoo CRM is. Awesome product.
                </q>
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="Stephan-Keller.jpg">
                    <div class="oe_author">Stephan Keller</div>
                    <div class="oe_job">CEO of <a href="http://www.sodexis.com" target="_blank">Sodexis, Inc</a>.</div>
                </cite>
            </div>
        </div>
    </div>
</section>
